.inp_out{
    display: flex;
    background-color: var(--fbutton);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.io-area{
    width: 100%;
    height: 91%;
    color: var(--white);
    font-family: Consolas,"Courier New",monospace;
    background: inherit;
    /* padding:5px 10px; */
    
    
}
.io-area-text{
    padding: 5px 10px;
    resize: none;
}
.io-screen{
    display: flex;
    flex-direction: column;
}
.io-screen .runBtn{
    padding: 1px 20px;
    
    color: var(--white);
    background:var(--fbutton);

}
.io-screen .runBtn img{
    margin-right: 15px;
    cursor: pointer;
}
.io-screen .runBtn img:hover{
    filter: invert(1);
}

.io-screen .io-navbar{
    background:var(--fbutton);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--white);
}
.io-screen .io-navbar .suggestion{
    margin: 5px 0;
}
.io-screen .io-navbar .suggestion span{
    margin:0 10px;
    padding: 3px 15px;
    vertical-align: middle;
    /* display: flex; */
    /* align-items: center; */
    text-align: center;
    cursor: pointer;
    background-color: var(--fbar);
    border-radius: 4px;
}