.inp_out{
    display: flex;
    background-color: var(--fbutton);
    margin: 0;
    padding: 0;
}
.io-area{
    width: inherit;
    height: inherit;
    color: var(--white);
    font-family: Consolas,"Courier New",monospace;
    background: inherit;
    padding:5px 10px;
    resize: none;
    
}