
@import url('https://fonts.googleapis.com/css?family=Audiowide|Sofia|Trirong|Roboto&display=swap');
.f-slider{
    display: flex;
    height: 7%;
    border-top: 1px groove rgb(20, 20, 20);
    background-color: var(--fbar);
    font-size: 1.05rem;
    font-weight: 300;
    font-family: Roboto;
    width: 96%;
    width: 1000px;
    overflow-x: scroll;
}
/* .f-slider:hover{
    z-index:1000;
    box-shadow: 1px 1px 6px #888888;
} */

.f-button{
    cursor: pointer;
    background-color: var(--fbutton);
    color: var(--skin);
    outline: none;
    border: none;
    height: 6.39;
    width: 500px;   
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    letter-spacing: 0.5px;
    border-right:1px solid rgb(37, 37, 38)
}
.f-button:hover{
    background-color: var(--fbuttonDark);
}
.f-button #f0:hover{
    background-color: black;
}
.cross{
    transform: scale(1.2);
    margin:0 10px 0 30px;
    border-radius: 20%;
    color: var(--white);
}
.cross:hover{
    background: rgba(255, 255, 255, 0.058);
    
}