*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.SidebarUi{
    
    display: flex;
    flex-direction: row;
    height: inherit;
    background-color: var(--sidebarDark);
    /* overflow: hidden; */
    z-index: 1001;
    box-shadow: 0px 0 15px 3px rgb(0,0,0);
    clip-path: inset(0px -15px 0px 0px);
    /* -webkit-box-shadow: 0 0 10px rgb(0,0,0);
-moz-box-shadow: 0 0 10px rgb(0,0,0); */
    
    
}

.d-icons{
    cursor: pointer;
    filter:invert(0.8);
    width: 40px;
    height: 40px;
}
.d-icons:hover{
    filter: invert(0.5);
}
.folderDir{
    width: inherit;
    margin: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.f-icons{
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 0.7rem;
    
}

.f-icons .d-icons{
    margin-bottom:4rem ;
}